body {
    background-color: #f0ffff;
}

#calculator {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 18px;
}

#display {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    background-color: #eeeeee;
    font-family: 'Orbitron', sans-serif;
    font-size: 37px;
    overflow-wrap: break-word;
    text-align: right;
    height: 100px;
}

button {
    font-size: 20px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 25px 32px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 1;
}

.number-and-operator-buttons, .clear-and-delete-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
}

.number-and-operator-buttons > button{
    flex: 0 0 97px;
}

.clear-and-delete-buttons > button{
    flex: 0 0 198px;
}

.number-button {
    background-color: #eeeeee;
}

.operator-button, #\=  {
    background-color: #217C7E;
}

#clear {
    background-color: #b285e6;
}

#delete {
    background-color: #e667b1;
}