#calculator {
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
    width: 400px;
    height: 600px;
}

#display {
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
}

.number-and-operator-buttons {
    display: flex;
    flex-wrap: wrap;
}

.number-and-operator-buttons > button{
    /* color: aqua; */
    flex: 0 0 25%;
    background-color: #008CBA;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding: 15px 32px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;

}

.number-and-operator-buttons > button:hover {
    opacity: 0.9;
}

.number-and-operator-buttons > button:active {
    opacity: 1;
}